<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true">
		<!-- <session-management >


			<concurrency-control max-sessions="1"

				expired-url="/Login?msg='your session has timed out!Please login again!'" />

		</session-management>

 -->		<intercept-url pattern="/admin/*" access="ROLE_ADMIN" />

		<form-login login-page="/Login?msg=New Session!Please login to proceed!" username-parameter="username"
			password-parameter="password" default-target-url="/adminHomePage"
			always-use-default-target="true" authentication-failure-url="/Login?msg=Please enter correct details!" />
		<logout delete-cookies="JSESSIONID" logout-success-url="/Login?msg=You have logged out!Please login again to proceed!" invalidate-session="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password,enabled from users where username=?"
				authorities-by-username-query="select username, role from user_roles where username =?  " />
		</authentication-provider>
	</authentication-manager>


	<!-- <authentication-manager> <authentication-provider> <user-service> <user 
		name="aakanksha" password="aku@intern" authorities="ROLE_ADMIN" /> </user-service> 
		</authentication-provider> </authentication-manager> -->
</beans:beans>